/* App.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}

.main-layout {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Push content below the navbar */
  background-color: #F6F6F6;
  margin-left: 250px; /* Ensure the content is beside the sidebar */
  transition: margin-left 0.3s ease;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-layout {
    margin-left: 0; /* Remove margin on mobile to overlay sidebar */
  }

  .sidebar {
    transform: translateX(-250px);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
